* {
  font-size: .95rem;
}

.consultas {
  padding: 1rem;
}

input {
  height: 1.5rem;
  background-color: rgb(255, 255, 255);
}

select {
  height: 1.5rem;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

table {
  background-color: whitesmoke;
}
