* {
  font-size: .95rem;
}

.consultas {
  padding: 1rem;
}

select {
  height: 1.5rem;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

table {
  background-color: whitesmoke;
  width: 100%;
}
